<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Dhimas Yoga - Front End Developer</title>

		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
		<link rel="stylesheet" href="style.css">
		<link rel="stylesheet" href="responsive.css">

		<!-- Import Font -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500&family=Sora:wght@400;600&display=swap" rel="stylesheet">

		<!-- Load JS Libraries -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/5283ad6af3.js" crossorigin="anonymous"></script>
		<script src="https://unpkg.com/scrollreveal@4"></script>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
		
		<!-- Vue -->
		<!-- <script src="https://unpkg.com/vue@3"></script> -->
		<script src="https://unpkg.com/vue@3.2.33/dist/vue.global.prod.js"></script>
	</head>
	<body>
		<div id="app">
			<!-- Navbar Section -->
			<nav id="navbar">
				<div class="container py-3 px-lg-0 w-100">
					<div>
						<a class="nav__logo" href="index.html">
							Dhimas
							<span class="highlight">Yoga</span>
						</a>
					</div>
					<div class="nav__menu">
						<ol class="mb-0 ps-0">
							<li><a href="#about">About</a></li>
							<li><a href="#skills">Skills</a></li>
							<li><a href="#services">Services</a></li>
							<li><a href="#experience">Experience</a></li>
							<!-- <li><a href="#contact">Contact</a></li> -->
						</ol>
					</div>
					<div class="text-right">
						<a href="#contact" class="btn btn__highlight px-3">
							<i class="fas fa-envelope me-2"></i>
							Hire Me
						</a>

						<div class="mobile__nav__btn">
							<input class="checkbox sidebar__toggle" type="checkbox" name="" id="" />
							<div class="hamburger-lines">
								<span class="line line1"></span>
								<span class="line line2"></span>
								<span class="line line3"></span>
							</div> 
							
							<div class="nav__drawer">
								<ul>
									<li><a href="#about">About</a></li>
									<li><a href="#skills">Skills</a></li>
									<li><a href="#services">Services</a></li>
									<li><a href="#experience">Experience</a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</nav>

			<!-- Hero Section -->
			<main id="hero">
				<div class="container">
					<div class="flex-center flex-column w-100 text-center">
						<div class="profilePic__container mb-4">
							<img src="resources/images/me.png" alt="me">
						</div>

						<div class="hero__text__container">
							<h5 class="hero__main__heading mb-4">
								Hi, I'm <span class="highlight">Dhimas</span>. <br>
								A <span class="highlight">Front End Developer</span> based in Yogyakarta.
							</h5>
							<h5 class="hero__secondary__heading	mb-5">
								Passionate to Craft and Turning your idea into digital product.
							</h5>

							<button type="button" class="btn btn__highlight btn__cv px-3 font-weight-500">Download CV</button>
						</div>
					</div>
				</div>
			</main>

			<!-- About Section -->
			<section id="about" class="pt-2 pb-5 py-lg-0 mb-5 mb-lg-0 flex-center section">
				<div class="container w-100">
					<div class="row w-100">
						<div class="col-lg-5 mb-5 mb-lg-0">
							<h2 class="section__heading">
								I'm here to help you turn your ideas into <span class="penting">amazing</span>
								and <span class="penting">usable</span> web product.
							</h2>
						</div>
						<div class="col-lg-7 section__paragraph">
							<p>Born & Live in Yogyakarta, Indonesia.</p>
							<p>I'm a user-centered and creative Front End Developer with 1 year and 2 months of experience.</p>
							<p>Oh, and i'm also a design enthusiast! And hence i currently exploring about UI Design and learning UI Design tools such as Figma.</p>
							<p>Love to read about Web Design Technology & UI trend articles to stay updated and keep up my skills.</p>
						</div>
					</div>
				</div>
			</section>

			<!-- Skills Section -->
			<section id="skills" class="pt-2 pb-5 py-lg-0 section mb-5 mb-lg-0">
				<div class="container fe__skills d-flex align-items-center mb-5 mb-lg-0">
					<div class="row">
						<div class="col-lg-5">
							<h4 class="section__heading fe__heading mb-4 mb-lg-0">
								I am capable to craft web products using <span class="penting">design-purpose</span>
								languages and tools, such as :
							</h4>
						</div>
						<div class="col-lg-7 row skills__card__container">
							<div v-for="f in fe_skills" class="col-sm-3 col-4 mb-3">
								<div class="skills__card card__fe card border-0">
									<img :src="'resources/images/' + f.img" :alt="f.alt">
								</div>
							</div>
						</div>
					</div>

				</div>

				<div class="container be__skills d-flex align-items-center">
					<div class="row w-100">
						<div class="col-lg-5">
							<h4 class="section__heading be__heading mb-4 mb-lg-0">
								... and a little bit of <span class="penting">back-end</span> as well :
							</h4>
						</div>
						<div class="col-lg-7 row skills__card__container">
							<div v-for="b in be_skills" class="col-sm-3 col-4 mb-3">
								<div class="skills__card card__be card border-0">
									<img :src="'resources/images/' + b.img" :alt="b.alt">
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Services Section -->
			<section id="services" class="pt-2 pb-5 py-lg-0 mb-5 mb-lg-0 section">
				<div class="container">
					<div class="row w-100">
						<div class="col-lg-4">
							<h2 class="section__heading">
								<span class="penting">Services</span> I Offer
							</h2>
							<p class="mb-5 text-white section__description">
								I help ambitious <span class="penting">bussinesses</span> or
								<span class="penting">creative person</span> build their profile
								and generate more traffic by building awareness, driving web traffic,
								and connecting with more customers.
							</p>
						</div>
						<div class="col-lg-7 offset-lg-1">
							<div v-for="s, index in services" class="services py-3 text-white" :class="index != (services.length - 1) ? 'mb-3 mb-lg-5' : ''">
								<div class="row">
									<div class="col-lg-2 mb-4 mb-lg-0">
										<p class="services__number mb-0">0{{ index + 1 }}.</p>
									</div>
									<div class="col-lg-10 ps-lg-4">
										<h2 class="mb-5">{{ s.title }}</h2>

										<div class="d-flex align-items-center justify-content-between">
											<button type="button" class="btn btn__explore__project text-white" @click="showDetailService(s.title, s.detail)">Explore</button>
											<button type="button" class="btn btn__cust__primary" @click="startService(s.message, s.title)">Start Project</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Experience Section -->
			<section id="experience" class="pt-2 pb-5 py-lg-0 mb-5 mb-lg-0 section">
				<div class="container w-100 mb-5 pb-5">
					<h2 class="section__heading mb-4">
						Work <span class="penting">Experience</span>
					</h2>
					<div class="card border-0 card__experience text-white">
						<div class="row">
							<div class="col-lg-5 pe-lg-0">
								<div class="card__img__container">
									<img src="resources/images/educa.jpg" class="card-img-top" alt="...">
								</div>
							</div>
							<div class="col-lg-7 pe-lg-0">
								<div class="card-body h-100 d-flex flex-column justify-content-center">
									<h2 class="header mb-1">Educa Studio</h2>
									<div class="experience__title">
										<p class="capitalize mb-1">Front End Developer</p>
										<small>(Feb 2021 - May 2022)</small>
									</div>

									<p class="line-height-2 mb-2">
										I worked on a team of a startup to develop a digital learning platform
										which is used by thousands of users of Vocational High School Students,
										College Students, and Teachers throughout Indonesia.
									</p>
									<p class="line-height-2">
										As a Front End, i also worked on Bug Fixing, Maintenance Features,
										Create New Features, and create Landing Pages for Educa Studio.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="container w-100 pt-4 pt-lg-0">
					<h2 class="section__heading mb-4">
						I also do a bit of <span class="penting">freelancing...</span>
					</h2>
					<div class="card border-0 card__ text-white">
						<div class="row">
							<div class="col-lg-5 pe-lg-0">
								<div class="card__img__container">
									<img src="resources/images/kejogja_web.png" class="card-img-top pos__top" alt="...">
								</div>
							</div>
							<div class="col-lg-7 pe-lg-0">
								<div class="card-body h-100 d-flex flex-column justify-content-center">
									<h2 class="header mb-1">ke.jogja</h2>
									<div class="experience__title">
										<small>
											<a href="http://kejogja.id/" target="_blank">https://kejogja.id/</a>
										</small>
									</div>

									<p class="line-height-2">
										I designed a Landing Page for Ke.Jogja so that they can have their
										own "company profile" and reach more audiences on the internet.
									</p>
									<p class="line-height-2">
										Ke.Jogja itself is a group of youths social media content creator
										that provide informations and recommendations about Yogyakarta.
									</p>
									<p class="line-height-2">
										Make sure to check 'em out on Instagram
										<a href="https://www.instagram.com/ke.jogja/" target="_blank" class="penting link-nodecor">here</a>
										to see their informative content about Yogyakarta!
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Contact Section -->
			<section id="contact" class="py-2 py-lg-0">
				<div class="container px-0 w-100">
					<div class="row m-0 w-100">
						<div class="col-lg-5 d-flex flex-column justify-content-between order-2 order-lg-1">
							<div class="d-none d-lg-block mb-4 mb-lg-0">
								<h2 class="section__heading">
									Let's 
									<span class="penting">partner up!</span>
								</h2>
								<p class="mb-0 text-white section__description">Let's level up your brand, together.</p>
							</div>
							<div class="mb-0">
								<ul class="contact__lists">
									<li>
										<a href="https://wa.me/628978869812/?text=Hi%20Dhimas%21%20I%27ve%20visited%20your%20website%20and%20i%27m%20interested%20to%20partner%20up%20with%20you%20to%20level%20up%20my%20brand."
										target="_blank" rel="noopener noreferrer">
											<i class="fas fa-phone fa-fw"></i>
											+62 897 8869 812
										</a>
									</li>
									<li>
										<a href="mailto:dhimasyoga14@gmail.com" target="_blank" rel="noopener noreferrer">
											<i class="fas fa-envelope fa-fw"></i>
											dhimasyoga14@gmail.com
										</a>
									</li>
								</ul>
							</div>
							<div class="d-flex align-items-center">
								<div class="socmed__outer">
									<div class="socmed__bg"></div>
									<a href="https://www.linkedin.com/in/dhimasyoga/" target="_blank">
										<i class="fab fa-linkedin-in fa-fw"></i>
									</a>
								</div>
								<div class="socmed__outer">
									<div class="socmed__bg"></div>
									<a href="https://dribbble.com/dhimskyy" target="_blank">
										<i class="fab fa-dribbble fa-fw"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="col-lg-7 section__paragraph pe-lg-0 order-1 order-lg-2">
							<div class="d-block d-lg-none mb-4 mb-lg-0">
								<h2 class="section__heading">
									Let's 
									<span class="penting">partner up!</span>
								</h2>
								<p class="mb-0 text-white section__description">Let's level up your brand, together.</p>
							</div>

							<div class="card border-0">
								<div class="card-body p-4">
									<form action="https://formspree.io/f/xoqryqyv" method="POST" @submit.prevent="submitForm($event)" id="formContact">
										<div class="form-group position-relative mb-4">
											<label for="emailContact">Your Email</label>

											<input type="email" name="email" id="emailContact"
											placeholder="happycustomer@gmail.com"
											class="form-control shadow-none" v-model="email"
											autocomplete="off" required>
											<i class="far fa-envelope"></i>
										</div>

										<div class="form-group position-relative mb-4">
											<label for="nameContact">Your Name</label>

											<input type="text" name="name" id="nameContact"
											placeholder="Happy Customer" v-model="name"
											class="form-control shadow-none"
											autocomplete="off" required>
											<i class="far fa-user"></i>
										</div>

										<div class="form-group position-relative mb-4">
											<label for="messageContact">Your message</label>

											<textarea name="message" id="messageContact" v-model="message"
											class="w-100 form-control shadow-none" rows="5"
											placeholder="Input your message here" required></textarea>
											<i class="far fa-comment-dots"></i>
										</div>

										<div class="form__btn__container">
											<button class="btn btn__cust__primary ms-auto">
												Send Message
												<i class="fas fa-paper-plane ms-1"></i>
											</button>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>

			<!-- Modal Detail Service -->
			<div class="modal fade" id="modalDetailService" tabindex="-1">
				<div class="modal-dialog modal-lg modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header p-0">
							<h5 class="modal-title service__title p-3">Modal title</h5>
							<button type="button" class="btn-close m-0 p-0 detail__service__close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body service__detail"></div>
					</div>
				</div>
			</div>

			<!-- Modal Start Project -->
			<div class="modal fade" id="modalStartProject" tabindex="-1">
				<div class="modal-dialog modal-lg modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header p-0">
							<h5 class="modal-title p-3 ps-4">Let's collaborate!</h5>
							<button type="button" class="btn-close m-0 p-0" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body p-4">
							<form action="https://formspree.io/f/xoqryqyv" method="POST" id="formProject" @submit.prevent="submitForm($event)">
								<div class="row mb-4">
									<div class="col-lg-6 mb-4">
										<div class="form-group position-relative">
											<label for="email">Your Email</label>

											<input type="email" name="email" id="email"
											placeholder="happycustomer@gmail.com"
											class="form-control shadow-none" v-model="email"
											autocomplete="off" autofocus required>
											<i class="far fa-envelope"></i>
										</div>
									</div>
									<div class="col-lg-6 mb-4">
										<div class="form-group position-relative">
											<label for="name">Your Name</label>

											<input type="text" name="name" id="name"
											placeholder="Happy Customer"
											class="form-control shadow-none" v-model="name"
											autocomplete="off" required>
											<i class="far fa-user"></i>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group position-relative">
											<label for="message">Your message</label>

											<textarea name="message" id="message" v-model="message"
											class="w-100 form-control shadow-none" rows="5"
											placeholder="Input your message here" required></textarea>
											<i class="far fa-comment-dots"></i>
										</div>
									</div>
								</div>
								<div class="form__btn__container">
									<button class="btn btn__cust__primary ms-auto">
										Send Message
										<i class="fas fa-paper-plane ms-1"></i>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<footer>
				<p class="mb-0">
					Coded with &#128293; and &#9749; by Dhimas Yoga Pratama 
				</p>
			</footer>
		</div>

		<script type="application/javascript">

			// Vue Instance
			const { createApp } = Vue
			createApp({
				data() {
					return {
						email: '',
						name: '',
						message: '',
						subject: '',
						formStatus: '',

						fe_skills: [
							{
								img : 'html.png',
								alt : 'html'
							},
							{
								img : 'css.png',
								alt : 'css'
							},
							{
								img : 'js.png',
								alt : 'js'
							},
							{
								img : 'bootstrap.png',
								alt : 'bootstrap'
							},
							{
								img : 'sass.png',
								alt : 'sass'
							},
							{
								img : 'vue.png',
								alt : 'vue'
							},
							{
								img : 'figma.png',
								alt : 'figma'
							}
						],
						be_skills: [
							{
								img : 'php.png',
								alt : 'php'
							},
							{
								img : 'slim.png',
								alt : 'slim'
							},
							{
								img : 'medoo.png',
								alt : 'medoo'
							},
						],
						services: [
							{
								title: 'Website Design & Development',
								message: 'Hi Dhimas, i need a Website Design and i am interested to make it happen with you!',
								detail: `
									<p>
										Need a Landing Page, Company Profile, or Personal Profile website like mine?
										<br>
										I can do that for you.
									</p>
									<p class="mb-0">The advantage of having a profile website makes you or your company look more professional and ready to reach more audiences on the internet.</p>
								`
							},
							{
								title: 'UI to Website',
								message: 'Hi Dhimas, i already have UI Design prepared before. I need your service to turn it into a real and usable website, please.',
								detail: `
									<p>Already have UI/Layout of your website designed before? I can turn it into a real and usable website.</p>
									<p class="mb-0">Just give me the details and access to the UI that have been designed before, then leave the rest to me. I'll do the magic!</p>
								`
							},
							{
								title: 'Information System Website',
								message: 'Hi Dhimas, i need a website with working system in it that can store, show, and send data.',
								detail: `
									<p>Say you need a website that can store, show, and manage data for your group/organization, i can also create that one for you!</p>
									<p class="mb-0">By using an information system website, managing and accessing data in your organization become easier, structured, and more secure.</p>
								`
							}
						]
					}
				},
				methods: {
					showDetailService(title, detail) {
						$('.service__title').text(title);

						setTimeout(() => {
							var modalHeaderHeight = $('#modalDetailService .modal-header').height();
							$('.detail__service__close').css('height', `${modalHeaderHeight}px`);
						}, 200);
						$('.service__detail').html(detail);

						$('#modalDetailService').modal('show');
					},
					startService(msg, subject) {
						this.message = msg;
						this.subject = subject;
						
						$('#modalStartProject').modal('show');
					},
					submitForm(e) {
						var self = this;
						var form = document.getElementById(e.target.id);

						if(self.email == '' || self.email.length == 0) {
							return swal('', 'Please input your email address', 'warning');
						} else if (self.name == '' || self.name.length == 0){
							return swal('', 'Please input your name', 'warning');
						} else if (self.message == '' || self.message.length == 0){
							return swal('', 'Please input your message', 'warning');
						}

						swal({
							title: "",
							text: "Sending Message . . .",
							icon: "/resources/images/rocket-loading.gif",
							closeOnClickOutside : false,
							buttons: false,
						});

						var data = new FormData(e.target);
						fetch(event.target.action, {
							method: form.method,
							body: data,
							headers: {
								'Accept': 'application/json'
							}
						}).then(response => {
							if (response.ok) {
								form.reset();
								return swal('Wohoo!', "Thank you for reaching me out.\nI'll send a reply within hours or days", 'success');
							} else {
								response.json().then(data => {
									if (Object.hasOwn(data, 'errors')) {
										var errors = data["errors"].map(error => error["message"]).join(", ")
										console.log('Errors : ', errors);
										return swal('Oops!', "Error when sending the form data\nPlease contact me further through Email/Whatsapp i provide in the Contact section", 'error');
									} else {
										return swal('Oops!', "There's an error when sending the form data\nPlease contact me further through Email/Whatsapp i provide in the Contact section", 'error');
									}
								})
							}
						}).catch(error => {
							status.innerHTML = "Oops! There was a problem submitting your form"
						});
					}
				},
				mounted() {
					var section = document.querySelectorAll(".section");
					var sections = {};
					var i = 0;

					Array.prototype.forEach.call(section, function(e) {
						sections[e.id] = e.offsetTop;
					});

					window.onscroll = function() {
						$('.nav__menu a').removeClass('active');

						// Scroll Spy
						var scrollPosition = document.documentElement.scrollTop || document.body.scrollTop;

						for (i in sections) {
							if (sections[i] <= (scrollPosition + 1)) {
								$('.nav__menu a').removeClass('active');
								$(`.nav__menu a[href="#${i}"]`).addClass('active');
								// document.querySelector('.active').setAttribute('class', ' ');
								// document.querySelector('a[href*=' + i + ']').setAttribute('class', 'active');
							}
						}
					};
				}
			}).mount('#app')

			$(document).ready(function() {
				var getWidth = $('.skills__card').width();
				$('.skills__card').css('height', `${getWidth}px`);

				$('#modalStartProject').on('shown.bs.modal', function() {
					$('[autofocus]').focus();
				})

				$('#modalDetailService').on('hidden.bs.modal', function() {
					$('.service__title').text('');
					$('.detail__service__close').css('height', '63px');
				});

				// Navbar drawer (mobile)
				$('.nav__drawer li').click(function() {
					$('.sidebar__toggle').prop('checked', false);
				});
			});

			// Scroll Reveal
			var animate = function(dist = '0px', dur = 600, orig = 'bottom', opac = 0, del = 0) {
				var inst = {
					duration: dur,
					distance: dist,
					origin: orig,
					opacity: opac,
					delay: del,
					viewOffset: {
						bottom: 80
					}
				}

				return inst;
			}

			// Scrollreveal hero
			ScrollReveal().reveal('.profilePic__container', animate('150%', 1000, 'bottom', 0, 200));
			ScrollReveal().reveal('.hero__main__heading', animate('150%', 1000, 'bottom', 0, 400));
			ScrollReveal().reveal('.hero__secondary__heading', animate('150%', 1000, 'bottom', 0, 600));
			ScrollReveal().reveal('.btn__cv', animate('150%', 1000, 'bottom', 0, 800));

			// Scrollreveal about
			ScrollReveal().reveal('.section__heading', animate('150%', 1000, 'left', 0, 0));
			ScrollReveal().reveal('.section__paragraph', animate('150%', 1000, 'right', 0, 300));

			// Scrollreveal skills
			ScrollReveal().reveal('.fe__heading', animate('150%', 1000, 'left', 0, 0));
				var feCardDelay = 800;
				$('.card__fe').each(function(idx) {
					ScrollReveal().reveal($(this), animate('0px', 1000, 'bottom', 0, feCardDelay));
					feCardDelay += 300;
				});

			ScrollReveal().reveal('.be__heading', animate('150%', 1000, 'left', 0, 0));
				var beCardDelay = 800;
				$('.card__be').each(function(idx) {
					ScrollReveal().reveal($(this), animate('0px', 1000, 'bottom', 0, beCardDelay));
					beCardDelay += 300;
				});

			// Scrollreveal Experience Card
			ScrollReveal().reveal('#experience .card', animate('150%', 1000, 'left', 0, 450));

			// Scrollreveal Services
			ScrollReveal().reveal('.section__description', animate('150%', 1000, 'left', 0, 300));
			var serviceCardDelay = 1100;
				$('.services').each(function(idx) {
					ScrollReveal().reveal($(this), animate('150%', 700, 'bottom', 0, serviceCardDelay));
					serviceCardDelay += 500;
				});
		</script>
	</body>
</html>